:root {
    --highlight-background: #01ABAA;
    --accent-background: rgb(250, 124, 146);
    --grey-background: rgb(214, 215, 216);
    --soft-background: white;
    --highlight-text: #C7D8C6;
    --accent-text: rgb(133, 113, 26);
    --soft-text: black;
    --tile-background: rgb(250, 124, 146, 0.5);
    --main-padding: 20px;
    --full-page-padding: 2px;
    --indent-page-padding: 20px;
}

body {
    color: var(--soft-text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 20px;
}

/* Hamburger */
nav {
    background-color: var(--highlight-background);
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu li {
    margin: 0;
    padding: 0;
}

.menu-item {
    display: block;
    padding: 20px;
    color: var(--highlight-text);
}

.highlight, .highlight:link, .highlight:visited {
    color: var(--highlight-text);
}

.highlight:hover {
    background-color: var(--accent-background);
}

/*
.menu-header:link,
.menu-header:visited,
.menu-item:link,
.menu-item:visited {
    color: var(--highlight-text);
}

.menu-header:hover,
.menu-item:hover,
.menu-btn:hover,
.menu-icon:hover {
    background-color: var(--accent-background);
}
*/

.menu-header {
    display: block;
    float: left;
    font-size: 34px;
    padding: 10px 20px;
}

.menu-icon {
    cursor: pointer;
    float: right;
    font-size: 29px;
    padding: 10px 20px;
    user-select: none;
}

.menu-btn {
    display: none;
}

.menu-btn:checked~.menu {
    max-height: 400px;
}

/* Footer */
footer {
    background: var(--highlight-background);
    color: var(--highlight-text);
    width: 100%;
    height: 60px;
    display: flex;
}

.buttonize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-logo {
    padding-right: 20px;
    padding-left: 20px;
}

.copyright {
    margin-left: auto;
    padding: 0px 20px;
}

/* Links */
a {
    outline: none;
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--accent-text);
}

a:hover {
    color: var(--accent-background);
}

main {
    background-color: var(--soft-background);
    padding: 0;
    margin: 0;
    flex: 1;
}

.blog-summary {
    margin: 12px 40px;
}

/* Artwork */
.full-page {
    padding: var(--full-page-padding);
    width: calc(100vw-1*var(--full-page-padding));
}

.gallery-horizontal-container {
    display: grid;
    grid-template-columns: repeat(var(--num-tiles), max-content);
    grid-template-rows: calc(100vh - 140px);
    grid-gap: var(--full-page-padding);
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x proximity;
}

.gallery-horizontal-item {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.gallery-horizontal-item img {
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.artwork-images-container {
    display: grid;
    grid-template-columns: 20px repeat(var(--num-tiles), max-content) 20px;
    grid-template-rows: calc(100vh - 140px);
    grid-gap: var(--full-page-padding);
    overflow-x: auto;
    scroll-snap-type: x proximity;
}

.indent-page {
    padding-left: var(--indent-page-padding);
    padding-right: var(--indent-page-padding);
}

/* Series */
.series-image {
    height: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

/* Gallery grid */
.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: var(--full-page-padding);
}

.gallery-grid-item {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.gallery-grid-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: 50%;
}

/* Hover */
.hover-text {
    visibility: hidden;
    color: var(--highlight-text);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hover-container:hover > .hover-text {
    visibility: visible;
}

.hover-container:hover > .hover-image {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* No-Hover */
.no-hover-text {
    color: var(--highlight-text);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.no-hover-container > .no-hover-image {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Artwork */
.artwork-dimensions {
    color: grey;
}

.artwork-media {
    font-size: 0.75em;
}

.artwork-artist {
    font-weight: bold;
}

.artwork-title {
    font-size: 1.2em;
}

@media (min-width: 720px) {
    .menu li {
        float: left;
    }

    .menu-item {
        padding: 18px 20px;
    }

    .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .menu-icon {
        display: none;
    }

    .gallery-grid-container {
        display: grid;
        padding: var(--full-page-padding);
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: min-content;
        grid-gap: var(--full-page-padding);
        width: calc(100vw-1*var(--full-page-padding));
    }
}