:root {
    --soft-background: white;

    --primary-colour: #ff7300;
    /*
    --primary-colour-dark: #49B68F;
    --primary-colour-dark: #629F1E;
    */
    --secondary-colour: #505050;
    --secondary-colour-dark: #303030;
    --secondary-colour-light: #606060;
    --secondary-colour-gradient: linear-gradient(to right, var(--secondary-colour-dark), var(--secondary-colour-light) 50%, var(--secondary-colour-dark) 100%);
    --accent-colour: #04213b;
    --accent-colour-light: #70BFCD;

    --text-colour: black;
    --home-text: var(--primary-colour);

    --header-height: 60px;
    --footer-height: 150px;

    --main-padding: 20px;
    --wide-page-padding: 2px;
    --medium-page-padding: 20px;
    --narrow-page-width: 800px;
    --grid-gap: 10px;
    --main-height: calc(100vh - 2*var(--wide-page-padding));

    --font-size: 20px;

    --slider-hold-time: 4s;
}

@media (min-width: 560px) {
    :root {
        --footer-height: 50px;
    }
}

@media (min-width: 1400px) {
    :root {
        --font-size: 23px;
        --header-height: 80px;
        --footer-height: 60px;
    }
}

@media (min-height: 560px) {
    :root {
        --main-height: calc(100vh - var(--footer-height) - var(--header-height) - 2*var(--wide-page-padding));
    }
}

/* styles */
.hover-accent:hover,
.hover-accent:focus {
    background: var(--accent-colour);
}

.highlight,
.highlight:link,
.highlight:visited {
    color: var(--primary-colour);
}

.accent {
    color: var(--accent-colour);
}

.highlight-background {
    background: var(--secondary-colour);
}

.white-background {
    background: white
}

.accent-border {
    border: solid thin var(--accent-colour);
}

.highlight-border {
    border: solid thin var(--primary-colour);
}

.small-font {
    font-size: 0.8em;
}

.center-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.button-wide {
    padding: 10px 15px;
    font-size: var(--font-size);
}

.button-narrow {
    border-radius: 2px;
    font-size: var(--font-size);
}

.wide-page {
    padding-left: var(--wide-page-padding);
    padding-right: var(--wide-page-padding);
    width: calc(100% - 2*var(--wide-page-padding));
}

.medium-page {
    padding-left: var(--medium-page-padding);
    padding-right: var(--medium-page-padding);
    width: calc(100% - 2*var(--medium-page-padding));
}

.narrow-page {
    padding-left: var(--medium-page-padding);
    padding-right: var(--medium-page-padding);
    max-width: var(--narrow-page-width);
    margin-left: auto;
    margin-right: auto;
}

.small-vertical-margins {
    margin-top: var(--wide-page-padding);
    margin-bottom: var(--wide-page-padding);
}

.medium-vertical-margins {
    margin-top: var(--medium-page-padding);
    margin-bottom: var(--medium-page-padding);
}

.bordered {
    padding: var(--medium-page-padding);
    border-color: var(--secondary-colour);
    border-width: thin;
    border-style: solid;
    border-radius: 2px;
}

.italic {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

a {
    outline: none;
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--accent-colour-light);
}

a:hover {
    color: var(--primary-colour);
}

fieldset {
    border: 0;
    display: inline;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}
/* Select */
select {
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-colour);
    padding: .6em 1.4em .5em .8em;
    margin: 0;
    border: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23C7D8C6%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(var(--secondary-colour), var(--secondary-colour));
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

select::-ms-expand {
    display: none;
}

select:hover {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23C7D8C6%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(var(--accent-colour), var(--accent-colour));
}

select:focus {
    box-shadow: none;
    outline: none;
}

select option {
    font-weight: normal;
}

/* layout */
body {
    color: var(--text-colour);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    min-height: 100vh;
}

main {
    background-color: var(--soft-background);
    padding: 0;
    margin: 0;
    flex: 1;
    min-height: var(--main-height);
    padding-top: var(--wide-page-padding);
    padding-bottom: var(--wide-page-padding);
    word-wrap: break-word;
}

/* header */
nav {
    background: var(--secondary-colour-gradient);
    min-height: var(--header-height);
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

@media (min-width: 720px) {
    .menu {
        clear: none;
        float: right;
        max-height: none;
    }
}

.menu li {
    margin: 0;
    padding: 0;
}

@media (min-width: 720px) {
    .menu li {
        float: left;
    }
}

.menu-item {
    padding: 0 15px;
    height: var(--header-height);
}

#menu-header {
    float: left;
    font-size: 1.8em;
    padding: 0 10px 0 10px;
    height: var(--header-height);
}

@media (min-width: 430px) {
    .menu-header {
        padding: 0 10px 0 0;
        font-size: 2em;
    }
}

#header-logo {
    display: none;
    filter: invert(80%);
}

@media (min-width: 430px) {
    #header-logo {
        display: inline-block;
        height: calc(var(--header-height) - 20px);
        padding: 10px 5px;
    }
}

#menu-icon {
    cursor: pointer;
    float: right;
    font-size: 30px;
    padding: 0 15px;
    height: var(--header-height);
    user-select: none;
}

@media (min-width: 720px) {
    #menu-icon {
        display: none;
    }
}

#menu-btn {
    display: none;
}

#menu-btn:checked~.menu {
    max-height: 100vh;
}

/* Footer */
footer {
    background: var(--secondary-colour-gradient);
    color: var(--primary-colour);
    width: 100%;
    height: var(--footer-height);
    display: grid;
    grid-template-areas:
        "social"
        "subscribe"
        "copyright";
}

@media (min-width: 560px) {
    footer {
        grid-template-areas:
            "social subscribe copyright";
    }
}

.subscribe {
    grid-area: subscribe;
    width: 100%;
    justify-self: center;
}

@media (min-width: 560px) {
    .subscribe {
        padding: 0px 10px;
        justify-self: center;
        width: auto;
    }
}

.copyright {
    grid-area: copyright;
    width: 100%;
    justify-self: center;
}

@media (min-width: 560px) {
    .copyright {
        padding: 0px 10px;
        justify-self: end;
        width: auto;
    }
}

.social {
    grid-area: social;
    display: flex;
    width: 100%;
    justify-self: center;
}

@media (min-width: 560px) {
    .social {
        justify-self: start;
        width: auto;
    }
}

.social-icon-logo {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 560px) {
    .social-icon-logo {
        margin-right: 0;
        margin-left: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* Home */
.home-text-holder {
    position: absolute;
    margin-top: 170px;
    margin-left: 110px;
    max-width: calc(100vw - 140px);
    color: var(--home-text);
    z-index: 1;
}

.home-text-holder p {
    color: var(--home-text);
}

.home-logo {
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
    width: 200px;
    filter: invert(50%);
    z-index: 1;
}

.home-image-holder::after {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0.2) 100%);
    content: '';
    width: 100%;
    height: var(--main-height);
    margin-top: -var(--main-height);
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
}

.home-image {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    width: calc(100% - 2*var(--wide-page-padding));
    height: var(--main-height);
    object-position: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    animation: fade calc(4 * var(--slider-hold-time)) infinite;
    -webkit-animation: fade calc(4 * var(--slider-hold-time)) infinite;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.slider-1 {
    -webkit-animation-delay: calc(0 * var(--slider-hold-time));
    animation-delay: calc(0 * var(--slider-hold-time));
}

.slider-2 {
    -webkit-animation-delay: calc(-1 * var(--slider-hold-time));
    animation-delay: calc(-1 * var(--slider-hold-time));
}

.slider-3 {
    -webkit-animation-delay: calc(-2 * var(--slider-hold-time));
    animation-delay: calc(-2 * var(--slider-hold-time));
}

.slider-4 {
    -webkit-animation-delay: calc(-3 * var(--slider-hold-time));
    animation-delay: calc(-3 * var(--slider-hold-time));
}


/* Input */
input {
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
}

.user-input {
    border: var(--secondary-colour) 2px solid;
    padding: 8px 15px;
    font-size: var(--font-size);
}

.user-message {
    width: 90%;
    height: 10em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
}

.email-input {
    width: 16em;
    max-width: 50vw;
}

.user-input:invalid {
    border: var(--accent-colour) 2px solid;
}

/* Artwork */
.gallery-horizontal-container {
    position: relative;
    display: grid;
    justify-content: center;
}

.gallery-horizontal {
    display: grid;
    grid-template-columns: var(--grid-gap) repeat(var(--num-tiles), 100%) var(--grid-gap);
    grid-template-rows: 80vh;
    grid-gap: var(--grid-gap);
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: center;
    scroll-behavior: smooth;
}

.gallery-horizontal:before,
.gallery-horizontal:after {
    content: ' ';
}

.gallery-horizontal-item {
    padding: 0;
    margin: 0;
    height: 80vh;
    width: 100%;
    display: block;
    scroll-snap-align: center;
}

.gallery-horizontal-item img {
    display: block;
    margin: 0 auto;
    height: 80vh;
    max-width: 100%;
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.scroll-button {
    display: none;
    position: absolute;
    cursor: pointer;

    top: 50%;
    transform: translateY(-50%);

    height: 30px;
    width: 30px;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50% 50%;
    background-repeat: no-repeat;

    z-index: 1;
}

.scroll-button.next {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>');
    right: 10px;
}

.scroll-button.previous {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>');
    left: 10px;
}

/* Gallery grid */
.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    grid-gap: var(--grid-gap);
}

@media (min-width: 720px) {
    .gallery-grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: min-content;
    }
}

.gallery-grid-item {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.gallery-grid-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: 50%;
}

/* Hover */
.blur-text-overlay {
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: relative;
    bottom: 100px;
    text-align: center;
    padding: 10px 0;
    color: var(--text-colour);
    display: block;
}

.hover-darken-container:hover>.hover-darken {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Artwork */
.artwork-year {
    font-size: 0.7em;
}

/* Blog */
.blog-header {
    width: calc(100vw - 2*var(--wide-page-padding));
    height: 30vh;
}

.blog-header-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

.blog-header-text {
    color: var(--primary-colour);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* contribute */
.quantity-container {
    margin-top: 10px;
}

#contribution-amounts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media (min-width: 1080px) {
    #contribution-amounts {
        grid-template-columns: repeat(6, 1fr);
    }
}

#shipping-message {
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}

#product-error-message {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
}

.error-message {
    color: red;
}

#checkout {
    margin-bottom: 40px;
}

/* About */
.about-page img {
    padding: 0 10px;
    max-width: 90%;
    max-height: 80vh;
    width: auto;
    height: auto;
    text-align: center;
}