{% extends 'base.html' %}
{%- block title -%}
About
{%- endblock -%}
{% block head %}
<meta name="description" content="{{ about | striptags | truncate(160, True) }}">

<meta property="og:url" content="{{ url_for('about', _external=True) }}"/>
<meta property="og:description" content="{{ about | striptags | truncate(160, True) }}"/>
<meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/psyclonic-studios-website.appspot.com/o/flamelink%2Fmedia%2FiFtGnXrDje0VzWX3XVHp_SLQ.JPG?alt=media&token=5646aa0a-da0f-466c-a792-128f576efffc"/>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "name": "About",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Psyclonic Studios",
            "item": "{{ url_for('home', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "About",
            "item": "{{ url_for('about', _external=True) }}"
        }
      ]
    }
</script>
{% endblock %}
{% block body %}
<div class="narrow-page about-page medium-vertical-margins">
    <h1 class="center">About</h1>
    {{ about | safe }}
</div>
{% endblock %}