{% extends 'base.html' %}
{% block title %}
{{ artwork.title }}
{% endblock %}
{% block head %}
<meta name="description" content="{{ (artwork.title ~ ' (' ~ artwork.year ~ ')' ~ ', ' ~ artwork.mediaDescription) | striptags | truncate(160, True) }}">
<link rel="canonical" href="{{ canonical_url }}" />
{% endblock %}
{% block body %}
<div class="narrow-page center medium-vertical-margins">
    <h1>{{ artwork.title }} <span class="artwork-year">[{{ artwork.year }}]</span></h1>
    <div>
        {{ artwork.mediaDescription | safe }}
    </div>
    <p>
        {%- for dimension in artwork.dimensions -%}
        <span
            class="artwork-measurement">{{ dimension.measurement }}</span><span
            class="artwork-unit">{{ dimension.unit }}</span>{{ "×" if not loop.last }}
        {%- endfor -%}
        &nbsp;({%- for dimension in artwork.dimensions -%}
        <span class="artwork-dimension">{{ dimension.dimension | first | lower }}</span>{{ "×" if not loop.last }}
        {%- endfor -%})
    </p>
</div>
<div class="gallery-horizontal-container medium-vertical-margins">
    <div class="gallery-horizontal wide-page" style="--num-tiles: {{ number_of_tiles }}">
        {% for image_url in artwork.image_urls %}
        <div class="gallery-horizontal-item">
            <img src="{{ image_url }}" alt="{{ artwork.mediaDescription }}" class="gallery-horizontal-image">
        </div>
        {% endfor %}
    </div>
    <span class="scroll-button previous"></span>
    <span class="scroll-button next"></span>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scroll.js') }}"></script>
{% endblock %}