{% extends 'base.html' %}
{% block title %}
Gallery
{% endblock %}
{% block head %}
<meta name="description" content="Artworks by Psyclonic Studios (Anne-Maree Hunter)">
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "name": "Artwork Collection",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Psyclonic Studios",
            "item": "{{ url_for('home', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Artwork",
            "item": "{{ url_for('artwork_collection', _external=True) }}"
        }
      ]
    }
</script>
{% endblock %}
{% block body %}
<div class="narrow-page medium-vertical-margins center">
    <h1>Gallery</h1>
    <!--
    <select>
        <option selected>Artworks</option>
        <option>Series</option>
    </select>
    -->
</div>
<div class="gallery-grid-container medium-page medium-vertical-margins">
    {% for artwork in artworks %}
    {% set thumbnail_image = artwork.images | first %}
    <a href="/artwork/{{ artwork.id }}/{{ artwork.title | slugify }}" class="gallery-grid-item hover-darken-container">
        <img src="{{ thumbnail_image.full_size.url }}"
            srcset="{% for size, image in thumbnail_image.sizes.items() %}{{ image.url }} {{ size }}w,{% endfor %}"
            alt="{{ artwork.title }}" class="hover-darken">
        <span class="blur-text-overlay">{{ artwork.title }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}