{% extends 'base.html' %}
{% block title %}
{{ artwork.title }}
{% endblock %}
{% block head %}
<meta name="description"
    content="{{ (artwork.title ~ ' (' ~ artwork.year ~ ')' ~ ', ' ~ artwork.mediaDescription) | striptags | truncate(160, True) }}">
<link rel="canonical" href="{{ canonical_url }}" />
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ artwork.title }}",
      "image": [
        {% for image in artwork.images %}
        "{{ image.full_size.url }}"{% if not loop.last %},{% endif %}
        {% endfor %}
       ],
      "description": "{{ artwork.mediaDescription }}",
      "sku": "sku_{{ artwork.title | slugify }}",
      "brand": {
        "@type": "Thing",
        "name": "Psyclonic Studios"
      }
      {% if artwork.forSale %},
      "offers": {
        "@type": "Offer",
        "url": "{{ canonical_url }}",
        "priceCurrency": "AUD",
        "price": "{{ artwork.price }}",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "Psyclonic Studios"
        }
      }
      {% endif %}
    }
</script>
{% endblock %}
{% block body %}
<div class="narrow-page center medium-vertical-margins">
    <h1>{{ artwork.title }} <span class="artwork-year">[{{ artwork.year }}]</span></h1>
    <div>
        {{ artwork.mediaDescription | safe }}
    </div>
    <p>
        {%- for dimension in artwork.dimensions -%}
        <span class="artwork-measurement">{{ dimension.measurement }}</span><span
            class="artwork-unit">{{ dimension.unit }}</span>{{ "×" if not loop.last }}
        {%- endfor -%}
        &nbsp;({%- for dimension in artwork.dimensions -%}
        <span class="artwork-dimension">{{ dimension.dimension | first | lower }}</span>{{ "×" if not loop.last }}
        {%- endfor -%})
    </p>
    <p >{{ artwork.price | format_money }}</p>
</div>
<div class="gallery-horizontal-container medium-vertical-margins">
    <div class="gallery-horizontal wide-page" style="--num-tiles: {{ number_of_tiles }}; {% if number_of_tiles == 1 %}--grid-gap: 0; {% endif %}">
        {% for image in artwork.images %}
        <div class="gallery-horizontal-item">
            <img src="{{ image.full_size.url }}" srcset="{% for size, image in image.sizes.items() %}{{ image.url }} {{ size }}w,{% endfor %}"
            alt="{{ artwork.mediaDescription }}" class="gallery-horizontal-image">
        </div>
        {% endfor %}
    </div>
    <span class="scroll-button previous"></span>
    <span class="scroll-button next"></span>
</div>
<div class="narrow-page center medium-vertical-margins">
    {% if artwork.forSale %}
    <button id="buy-button" type="button" class="hover-accent highlight accent-border white-background button-wide">Buy</button>
    {% endif %}
    <button id="enquire-button" type="button" class="hover-accent highlight accent-border white-background button-wide">Enquire</button>
</div>
<div id="enquire-form" class="narrow-page center medium-vertical-margins" hidden>
    <form class="bordered" action="/artwork-enquire/{{ artwork.id }}" method="POST">
        <div class="medium-vertical-margins">
            <h4 class="small-vertical-margins">Contact information</h4>
            <input id="enquire-name" class="user-input small-vertical-margins" type="text" name="name" placeholder="Name"
                required autocomplete="name">
            <input id="enquire-email" class="user-input" type="email" name="email" placeholder="Email" required
                autocomplete="email">
        </div>
        <div class="medium-vertical-margins">
            <textarea class="user-input user-message" type="textarea" name="message" placeholder="Your message" required></textarea>
        </div>
        <div class="medium-vertical-margins">
            <button id="enquire-reset" type="reset" class="hover-accent highlight highlight-background button-wide">Cancel</button>
            <button type="submit" class="hover-accent highlight highlight-background button-wide">Submit</button>
        </div>
    </form>
</div>
{% if artwork.forSale %}
<div id="buy-form" class="narrow-page center medium-vertical-margins" hidden>
    <form class="bordered" action="/artwork-buy/{{ artwork.id }}" method="POST">
    <p class="small-font">Because of the many shapes and sizes of my artworks, packaging can be a little bit tricky! Customised shipping needs to be arranged for each piece, so if you could please submit your contact details, shipping address, and any other shipping requirements, I will send an estimate of the shipping cost to you.</p>
        <div class="medium-vertical-margins">
            <h4 class="small-vertical-margins">Contact information</h4>
            <input id="buy-name" class="user-input small-vertical-margins" type="text" name="name" placeholder="Name"
                required autocomplete="name">
            <input id="buy-email" class="user-input" type="email" name="email" placeholder="Email" required
                autocomplete="email">
        </div>
        <div class="medium-vertical-margins">
            <h4 class="small-vertical-margins">Shipping information</h4>
            <input id="buy-city" class="user-input small-vertical-margins" type="text" name="city"
                placeholder="City or Suburb" required autocomplete="shipping address-level2">
            <input id="buy-country" class="user-input small-vertical-margins" type="text" name="country"
                placeholder="Country" required autocomplete="shipping country-name">
            <fieldset id="buy-address_type" class="small-vertical-margins">
                <input id="residential" type="radio" name="address_type" value="residential" required>
                <label for="residential">Residential</label>
                <input id="commercial" type="radio" name="address_type" value="commercial">
                <label for="commercial">Commercial</label>
            </fieldset>
        </div>
        <div class="medium-vertical-margins">
            <textarea class="user-input user-message" type="textarea" name="message" placeholder="Shipping requirements (e.g. required timeframe) or a message to the artist (optional)" autocomplete="off"></textarea>
        </div>
        <div class="medium-vertical-margins">
            <button id="buy-reset" type="reset" class="hover-accent highlight highlight-background button-wide">Cancel</button>
            <button type="submit" class="hover-accent highlight highlight-background button-wide">Submit</button>
        </div>
    </form>
</div>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='scroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='enquire_form.js') }}"></script>
{% endblock %}