{% extends 'base.html' %}
{% block title %}
Gallery
{% endblock %}
{% block body %}
<div class="indent-page">
    <h1>Gallery</h1>
    <p>
        <a href="/series">Series</a> | Individual Artworks
    </p>
</div>
<div class="gallery-grid-container full-page">
    {% for artwork in artworks %}
    <a href="/artwork/{{ artwork.id }}" class="gallery-grid-item hover-container">
        <img class="hover-image" src="{{ artwork.image_urls | first }}" alt="{{ artwork.description }}">
        <span class="hover-text">{{ artwork.title }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}