{% extends 'base.html' %}
{% block title %}
{{ artwork.title }}
{% endblock %}
{% block head %}
<meta name="description"
    content="{{ (artwork.title ~ ' (' ~ artwork.year ~ ')' ~ ', ' ~ artwork.mediaDescription) | striptags | truncate(160, True) }}">
<link rel="canonical" href="{{ canonical_url }}" />
{% if artwork.forSale %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ artwork.title }}",
      "image": [
        {% for image in artwork.images %}
        "{{ image.full_size.url }}"{% if not loop.last %},{% endif %}
        {% endfor %}
       ],
      "description": "{{ artwork.mediaDescription }}",
      "sku": "sku_{{ artwork.title | slugify }}",
      "brand": {
        "@type": "Thing",
        "name": "Psyclonic Studios"
      },
      "offers": {
        "@type": "Offer",
        "url": "{{ canonical_url }}",
        "priceCurrency": "AUD",
        {% if artwork.price %}
        "price": "{{ artwork.price }}",
        {% endif %}
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "Psyclonic Studios"
        }
      }
    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "name": "Artwork",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Psyclonic Studios",
            "item": "{{ url_for('home', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Gallery",
            "item": "{{ url_for('gallery', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "{{ artwork.title }}",
            "item": "{{ url_for('artwork', id='{{ artwork.id }}', slug='{{ artwork.title | slugify }}', _external=True) }}"
        }
      ]
    }
</script>
{% endif %}
{% endblock %}
{% block body %}
<div class="narrow-page center medium-vertical-margins">
    <h1>{{ artwork.title }} <span class="artwork-year">[{{ artwork.year }}]</span></h1>
    {% if artwork.editionInformation %}<p class="small-font small-vertical-margins">{{ artwork.editionInformation }}</p>
    {% endif %}
    {% if artwork.mediaDescription %}
    <div class="medium-vertical-margins">
        {{ artwork.mediaDescription | safe }}
    </div>
    {% endif %}
    {% if artwork.dimensions %}
    <div class="medium-vertical-margins">
        {%- for dimension in artwork.dimensions -%}
        <span class="artwork-measurement">{{ dimension.measurement }}</span><span
            class="artwork-unit">{{ dimension.unit }}</span>{{ "×" if not loop.last }}
        {%- endfor -%}
        &nbsp;({%- for dimension in artwork.dimensions -%}
        <span class="artwork-dimension">{{ dimension.dimension | first | lower }}</span>{{ "×" if not loop.last }}
        {%- endfor -%})
    </div>
    {% endif %}
    {% if artwork.price and artwork.inventory > 0 %}
    <p>{{ artwork.price | format_money }}</p>
    {% endif %}
    {% if artwork.price and artwork.inventory == 0 %}
    <p><span style="text-decoration: line-through;">{{ artwork.price | format_money }}</span> Sold out</p>
    {% endif %}
    {% if not artwork.price %}
    <p>Not for sale</p>
    {% endif %}
    {% if artwork.inTheCollectionOf %}
    <p class="small-font">
        In the collection of {{ artwork.inTheCollectionOf }}
    </p>
    {% endif %}
</div>
<div class="gallery-horizontal-container medium-vertical-margins">
    <div class="gallery-horizontal wide-page"
        style="--num-tiles: {{ number_of_tiles }}; {% if number_of_tiles == 1 %}--grid-gap: 0; {% endif %}">
        {% for image in artwork.images %}
        <div class="gallery-horizontal-item-container">
            <div class="gallery-horizontal-item">
                <img src="{{ image.full_size.url }}"
                    srcset="{% for size, image in image.sizes.items() %}{{ image.url }} {{ size }}w,{% endfor %}"
                    alt="{{ artwork.mediaDescription }}" class="gallery-horizontal-image">
            </div>
        </div>
        {% endfor %}
    </div>
    <span class="scroll-button previous"></span>
    <span class="scroll-button next"></span>
</div>
{% if artwork.artistStatement %}
<div class="narrow-page medium-vertical-margins justify">
    {{ artwork.artistStatement | safe }}
</div>
{% endif %}
{% if artwork.forSale and artwork.inventory > 0 and not artwork.easyShipping %}
<p class="narrow-page justify small-font">Because of the many shapes and sizes of my artworks, packaging some of them
    can be a little
    bit tricky!
    Customised shipping needs to be arranged for this piece. If you submit your shipping details, I will send an
    estimate of the shipping cost to you.
    <br />
    For addresses within Australia, shipping is typically under $20. For international orders, shipping is typically
    under
    $40.
</p>
{% endif %}
{% if artwork.forSale and artwork.inventory > 0 and artwork.easyShipping %}
<p class="narrow-page center small-font">
    Free shipping within Australia!
</p>
{% endif %}
<div class="narrow-page center medium-vertical-margins">
    {% if artwork.forSale and artwork.inventory > 0 %}
    {% if artwork.easyShipping and artwork.price %}
    {% if in_cart %}
    <a id="add-to-cart-button" href="{{ url_for('cart') }}"
        class="hover-accent text-primary border-accent background-white button-wide buttonize small-vertical-margins">View
        in cart</a>
    {% else %}
    <form id="add-to-cart" action="{{ url_for('artwork_add_to_cart') }}" method="POST">
        <button type="submit" onclick="gtag('event', 'add_to_cart', { event_label: '{{ artwork.title }}' });"
            class="hover-accent text-primary border-accent background-white button-wide small-vertical-margins">Add to
            cart</button>
        <input name="artwork_id" type="hidden" value="{{ artwork.id }}">
    </form>
    {% endif %}
    {% else %}
    <button id="buy-button" type="button"
        class="hover-accent text-primary border-accent background-white button-wide small-vertical-margins">Shipping
        enquiry</button>
    {% endif %}
    {% endif %}
    <button id="enquire-button" type="button"
        class="hover-accent text-primary border-accent background-white button-wide small-vertical-margins">Ask the
        artist</button>
</div>
<div id="enquire-form" class="narrow-page center medium-vertical-margins" hidden>
    <form class="bordered" action="/artwork-enquire/{{ artwork.id }}" method="POST">
        <div class="medium-vertical-margins">
            <h4 class="small-vertical-margins">Contact information</h4>
            <input id="enquire-name" class="user-input border-accent small-vertical-margins" type="text" name="name"
                placeholder="Name" required autocomplete="name">
            <input id="enquire-email" class="user-input border-accent" type="email" name="email" placeholder="Email"
                required autocomplete="email">
        </div>
        <div class="medium-vertical-margins">
            <textarea class="user-input user-message border-accent" type="textarea" name="message"
                placeholder="Your message" required></textarea>
        </div>
        <div class="medium-vertical-margins">
            <button id="enquire-reset" type="reset"
                class="hover-accent text-primary background-white border-accent button-wide">Cancel</button>
            <button type="submit"
                class="hover-accent text-primary background-white border-accent button-wide">Submit</button>
        </div>
    </form>
</div>
{% if artwork.forSale and artwork.inventory > 0 %}
<div id="buy-form" class="narrow-page center medium-vertical-margins" hidden>
    <form class="bordered" action="/artwork-buy/{{ artwork.id }}" method="POST">
        <div class="medium-vertical-margins">
            <h4 class="small-vertical-margins">Contact information</h4>
            <input id="buy-name" class="user-input small-vertical-margins border-accent" type="text" name="name"
                placeholder="Name" required autocomplete="name">
            <input id="buy-email" class="user-input border-accent" type="email" name="email" placeholder="Email"
                required autocomplete="email">
        </div>
        <div class="medium-vertical-margins">
            <h4 class="small-vertical-margins">Shipping information</h4>
            <input id="buy-city" class="user-input small-vertical-margins border-accent" type="text" name="city"
                placeholder="City or Suburb" required autocomplete="shipping address-level2">
            <input id="buy-country" class="user-input small-vertical-margins border-accent" type="text" name="country"
                placeholder="Country" required autocomplete="shipping country-name">
            <fieldset id="buy-address_type" class="small-vertical-margins">
                <input id="residential" type="radio" name="address_type" value="residential" required>
                <label for="residential">Residential</label>
                <input id="commercial" type="radio" name="address_type" value="commercial">
                <label for="commercial">Commercial</label>
            </fieldset>
        </div>
        <div class="medium-vertical-margins">
            <textarea class="user-input user-message border-accent" type="textarea" name="message"
                placeholder="Shipping requirements (e.g. required timeframe) or a message to the artist (optional)"
                autocomplete="off"></textarea>
        </div>
        <div class="medium-vertical-margins">
            <button id="buy-reset" type="reset"
                class="hover-accent text-primary background-white border-accent button-wide">Cancel</button>
            <button type="submit"
                class="hover-accent text-primary background-white border-accent button-wide">Submit</button>
        </div>
    </form>
</div>
{% endif %}
{% if artwork.redbubbleLink %}
<div class="center ultra-narrow-page medium-vertical-margins">
    <p>or</p>
    <a href="{{ artwork.redbubbleLink }}"
        onclick="gtag('event', 'click', { event_label: 'redbubble_artwork', event_category: 'engagement' });"
        target="_blank">Find "{{ artwork.title }}" printed on T-shirts, travel mugs,
        and postcards!</a>
</div>
{% endif %}
<p class="narrow-page center small-font">
    All prints are sold unframed
    {% if artwork.additionalInformation %}
    <br>
        {{ artwork.additionalInformation }}
    {% endif %}
</p>
<script type="text/javascript" src="{{ url_for('static', filename='scroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='enquire_form.js') }}"></script>
{% endblock %}