<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144212153-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-144212153-1');
  </script>
  <!-- End gtag.js -->

  <title>{% block title %}{% endblock %} | Psyclonic Studios</title>
  {% block head %}
  {% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/psyclonic-simple-favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% include 'nav.html' %}
  {% if not hide_cart and 'cart' in session and (session.cart | length) > 0 %}
  <a id="cart-icon" class="button-narrow buttonize" href="/cart">Cart<span class="circle-icon background-primary text-accent">{{ session.get('cart', []) | length }}</span></a>
  {% endif %}
  <main>
    {% block body %}{% endblock %}
  </main>
  {% include 'footer.html' %}
</body>

</html>