{% extends 'base.html' %}
{% block title %}
Blog
{% endblock %}
{% block head %}
<meta name="description" content="Psyclonic Studios blog">
<meta name="author" content="Anne-Maree Hunter">
{% endblock %}
{% block body %}
<div class="medium-page">
    <h1>Blog</h1>
</div>
<div class="gallery-grid-container wide-page">
    {% for blog in blog_collection %}
    <a href="/blog/{{ blog.id }}" class="gallery-grid-item no-hover-container">
        <img class="no-hover-image" src="{{ blog.thumbnail_image }}" alt="{{ blog.title }}">
        <span class="no-hover-text">{{ blog.title }}<br><br>{{ blog.date | format_date }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}