{% extends 'base.html' %}
{% block title %}
Contribute to Psyclonic Studios
{% endblock %}
{% block head %}
<meta name="description" content="{{ support_text | striptags | truncate(160, True) }}">
{% endblock %}
{% block body %}
<div class="narrow-page medium-vertical-margins">
  <h1 class="center">Contribute</h1>
  {{ support_text | safe }}
</div>
<div class="gallery-horizontal-container medium-vertical-margins">
  <div class="gallery-horizontal wide-page" style="--num-tiles: {{ number_of_products }}">
    {% for product in contribute_products %}
    <div class="gallery-horizontal-item-container">
      <div class="gallery-horizontal-item">
        <img src="{{ product.artwork_image.full_size.url }}"
          srcset="{% for size, image in product.artwork_image.sizes.items() %}{{ image.url }} {{ size }}w,{% endfor %}"
          alt="{{ product.title }}">
        <div class="blur-text-overlay">
          <div>
            {{ product.basePrice | format_money }}
          </div>
          <div class="small-vertical-margins">
            <button class="text-primary border-accent hover-accent button-narrow" type="button"
              onclick="addProduct('{{ product.sku }}', -1)">-</button>
            <span class="quantity" id="{{ product.sku }}">0</span>
            <button class="text-primary border-accent hover-accent button-narrow" type="button"
              onclick="addProduct('{{ product.sku }}', 1)">+</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <span class="scroll-button previous"></span>
  <span class="scroll-button next"></span>
  <span id="product-error-message" class="error-message center"></span>
</div>
<div id="contribution" class="narrow-page medium-vertical-margins center">
  <span>Select contribution amount</span>
  <div id="contribution-amounts" class="medium-vertical-margins">
    {% for donation in donation_skus %}
    <button class="text-primary border-accent hover-accent button-narrow"
      onclick="addDonation('{{ donation.id }}', 1)">+{{ (donation.price / 100) | format_money }}</button>
    {% endfor %}
  </div>
</div>
<div id="shipping" class="medium-vertical-margins center">
  <span>Shipping:</span>
  <select id="shipping-select" required>
    <option selected value="" disabled>
      Select shipping region
    </option>
    <option value="0">
      Within Australia
    </option>
    <option value="1">
      Outside Australia
    </option>
  </select>
  <span id="shipping-message"></span>
</div>
<div id="checkout" class="medium-vertical-margins center">
  <button class="text-primary background-white border-secondary hover-accent button-wide" id="checkout-button" role="link">
    Checkout
  </button>
</div>
<div id="error-message"></div>
<script>
  const products = {
    {% for product in contribute_products %}
      {{ product.sku }}: {
        id: '{{ product.sku }}',
        price: {{ product.basePrice }},
        quantity: 0
      },
    {% endfor %}
  }
  const donations = {
    {% for donation in donation_skus %}
      {{ donation.id }}: {
        id: '{{ donation.id }}',
        price: {{ donation.price / 100 }},
        quantity: 0
      },
    {% endfor %}
  }
  const shipping = {
    {{ shipping_sku.id }}: {
      id: '{{ shipping_sku.id }}',
      price: {{ shipping_sku.price / 100 }},
      quantity: 0
    }
  }
</script>
<script src="https://js.stripe.com/v3"></script>
<script type="text/javascript" src="{{ url_for('static', filename='contribute.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scroll.js') }}"></script>
{% endblock %}