{% extends 'base.html' %}
{% block title %}
Contribute to Psyclonic Studios
{% endblock %}
{% block body %}
<div class="narrow-page support-page">
  {{ support_text | safe }}
</div>
<div class="gallery-horizontal-container">
  <div class="gallery-horizontal wide-page" style="--num-tiles: {{ number_of_products }}">
    <div></div>
    {% for product in contribute_products %}
    <div class="gallery-horizontal-item contribute-product">
      <img src="{{ product.artwork_image_url }}" alt="{{ product.title }}">
      <div class="contribute-product-buttons">
        <div class="contribute-product-price">
          {{ product.basePrice | format_money }}
        </div>
        <div class="quantity-container">
          <button class="highlight highlight-border hover-accent button-narrow" type="button"
            onclick="addProduct('{{ product.sku }}', -1)">-</button>
          <span class="quantity" id="{{ product.sku }}">0</span>
          <button class="highlight highlight-border hover-accent button-narrow" type="button"
            onclick="addProduct('{{ product.sku }}', 1)">+</button>
        </div>
      </div>
    </div>
    {% endfor %}
    <div></div>
  </div>
  <span class="scroll-button previous"></span>
  <span class="scroll-button next"></span>
  <span id="product-error-message" class="error-message"></span>
</div>
<div id="contribution" class="narrow-page">
  <span>Select contribution amount</span>
  <div id="contribution-amounts">
  {% for donation in donation_skus %}
    <button class="highlight highlight-border hover-accent button-narrow" onclick="addDonation('{{ donation.id }}', 1)">+{{ (donation.price / 100) | format_money }}</button>
  {% endfor %}
  </div>
</div>
<div id="shipping">
  <span>Shipping:</span>
  <select id="shipping-select" required>
    <option selected value="" disabled>
      Select shipping region
    </option>
    <option value="0">
      Within Australia
    </option>
    <option value="1">
      Outside Australia
    </option>
  </select>
  <span id="shipping-message"></span>
</div>
<div id="checkout">
  <button class="highlight highlight-background hover-accent button-wide" id="checkout-button" role="link">
    Checkout
  </button>
</div>

<div id="error-message"></div>
<script>
  const products = {
    {% for product in contribute_products %}
      {{ product.sku }}: {
        id: '{{ product.sku }}',
        price: {{ product.basePrice }},
        quantity: 0
      },
    {% endfor %}
  }
  const donations = {
    {% for donation in donation_skus %}
      {{ donation.id }}: {
        id: '{{ donation.id }}',
        price: {{ donation.price / 100 }},
        quantity: 0
      },
    {% endfor %}
  }
  const shipping = {
    {{ shipping_sku.id }}: {
      id: '{{ shipping_sku.id }}',
      price: {{ shipping_sku.price / 100 }},
      quantity: 0
    }
  }
</script>
<script src="https://js.stripe.com/v3"></script>
<script type="text/javascript" src="{{ url_for('static', filename='contribute.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scroll.js') }}"></script>
{% endblock %}