<footer>
  <div class="social">
    <a class="social-icon-logo text-primary hover-accent center-children"
      href="https://www.instagram.com/_u/psyclonicstudios/" onclick="gtag('event', 'click', {
    'event_category': 'link',
    'event_label': 'instagram',
  });" target="_blank">
      <img src="/static/social_icons/instagram.svg" alt="Instagram | @psyclonicstudios">
    </a>
    <a class="social-icon-logo text-primary hover-accent center-children"
      href="https://www.redbubble.com/people/psyclonicstudio" target="_blank" onclick="gtag('event', 'click', {
    'event_category': 'link',
    'event_label': 'redbubble',
  });">
      <img src="/static/social_icons/redbubble.svg" alt="Redbubble | Psyclonic Studios">
    </a>
    <a class="social-icon-logo text-primary hover-accent center-children" onclick="gtag('event', 'click', {
    'event_category': 'link',
    'event_label': 'facebook',
  });" href="https://www.facebook.com/psyclonicstudios/" target="_blank">
      <img src="/static/social_icons/facebook.svg" alt="Facebook | Psyclonic Studios">
    </a>
    <!--
    <a class="social-icon-logo text-primary center-children" href="https://www.youtube.com/channel/UC9CrAXYWpm8R86MtoPY1z5w"
      target="_blank">
      <img src="/static/social_icons/youtube.svg" alt="Youtube | Psyclonic Studios">
    </a>

    -->
  </div>
  <a class="subscribe text-primary hover-accent center-children" href="/subscribe">Subscribe</a>
  <a class="copyright text-primary hover-accent center-children" href="/legal">Copyright {{ this_year }}</a>
</footer>