<footer>
  <div class="social">
    <a class="social-icon-logo highlight buttonize" href="https://www.instagram.com/_u/psyclonicstudios/"
      target="_blank">
      <img src="/static/social_icons/instagram.svg">
    </a>
    <a class="social-icon-logo highlight buttonize" href="https://www.facebook.com/Psyclonic-Studios-2394528827271634/"
      target="_blank">
      <img src="/static/social_icons/facebook.svg">
    </a>
    <a class="social-icon-logo highlight buttonize" href="https://www.youtube.com/channel/UC9CrAXYWpm8R86MtoPY1z5w"
      target="_blank">
      <img src="/static/social_icons/youtube.svg">
    </a>
  </div>
  <a class="subscribe highlight buttonize" href="/subscribe">Subscribe</a>
  <a class="copyright highlight buttonize" href="/legal">Copyright {{ this_year }}</a>
</footer>