<footer>
  <div class="social-wrapper">
    <a class="social-icon-logo" href="https://www.instagram.com/_u/psyclonicstudios/" target="_blank">
      <img src="/static/social_icons/instagram.svg">
    </a>
    <!--
    <a class="social-icon-text" href="https://www.instagram.com/psyclonicstudios/">
      <span>@psyclonicstudios</span>
    </a>
    -->
    <a class="social-icon-logo" href="https://www.facebook.com/Psyclonic-Studios-2394528827271634/" target="_blank">
      <img src="/static/social_icons/facebook.svg">
    </a>
    <!--
    <a class="social-icon-text" href="https://www.facebook.com/Psyclonic-Studios-2394528827271634/?tn-str=k*F">
      <span>@psyclonicstudios</span>
    </a>
    -->
    <a class="social-icon-logo" href="https://www.youtube.com/channel/UC9CrAXYWpm8R86MtoPY1z5w" target="_blank">
      <img src="/static/social_icons/youtube.svg">
    </a>
    <!--
    <a class="social-icon-text" href="https://www.youtube.com/channel/UC9CrAXYWpm8R86MtoPY1z5w">
      <span>youtube.com/c/psyclonicstudios</span>
    </a>
    -->
  </div>
  <span class="copyright">Copyright {{ this_year }}</span>
</footer>