{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block head %}
<meta name="description" content="{{ home_text | striptags | truncate(160, True) }}">
{% endblock %}
{% block body %}
<div class="wide-page home-container">
    <img src="{{ url_for('static', filename='img/psyclonic-logo.png') }}" class="home-logo">
    <div class="home-text-holder">
        {{ home_text | safe }}
    </div>
    <div class="home-image-holder">
        {% for url in home_images %}
        <img src="{{ url }}" class="home-image slider-{{loop.index}}">
        {% endfor %}
    </div>
</div>
{% endblock %}