{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block head %}
<meta name="description" content="{{ home_text | striptags | truncate(160, True) }}">
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Psyclonic Studios",
    "description": "Anne-Maree Hunter comes from a printmaking background, specialising in Lithography, Intaglio, Artists’ Books & Objects. Her creative style is eclectic and a little eccentric, with hints of Surrealism.\nPsyclonic Studios is her art workspace.",
    "url": "https://www.psyclonicstudios.com.au",
    "logo": "https://psyclonicstudios.com.au/static/img/psyclonic-logo.png",
    "founders": [
        {
            "@type": "Person",
            "name": "Anne-Maree Hunter"
        }
    ],
    "email": "contact@psyclonicstudios.com.au",
    "sameAs": [ 
    "https://www.facebook.com/psyclonicstudios",
    "https://www.instagram.com/psyclonicstudios",
    "http://redbubble.com/people/psyclonicstudio"
    ]
}
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "name": "Home",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Psyclonic Studios",
        "item": "{{ url_for('home', _external=True) }}"
      }]
    }
</script>
{% endblock %}
{% block body %}
<div class="wide-page home-container">
    <img src="{{ url_for('static', filename='img/psyclonic-logo.png') }}" class="home-logo">
    <div class="home-text-holder">
        {{ home_text | safe }}
    </div>
    <div class="home-image-holder">
        {% for image in home_images.images %}
        <img class="home-image slider-{{loop.index}}" src="{{ image.full_size.url }}"
            srcset="{% for size, image in image.sizes.items() %}{{ image.url }} {{ size }}w,{% endfor %}">
        {% endfor %}
    </div>
</div>
{% endblock %}