{% extends 'base.html' %}
{% block title %}
Legal
{% endblock %}
{% block head %}
<meta name="description" content="{{ legal | striptags | truncate(160, True) }}">
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "name": "Legal",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Psyclonic Studios",
            "item": "{{ url_for('home', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Legal",
            "item": "{{ url_for('legal', _external=True) }}"
        }
      ]
    }
</script>
{% endblock %}
{% block body %}
<div class="narrow-page medium-vertical-margins">
    <h1 class="center">Legal</h1>
    {{ legal | safe }}
</div>
{% endblock %}