<nav>
  <a class="menu-header highlight buttonize" href="/">
  <img src="{{ url_for('static', filename='img/psyclonic-logo.png') }}" class="header-logo">
    Psyclonic Studios</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon highlight buttonize" for="menu-btn">&#9776;</label>
  <ul class="menu">
    <li><a class="menu-item highlight buttonize" href="/series">Gallery</a></li>
    <!--
    <li><a class="menu-item" href="/garage">Garage</a></li>
    <li><a class="menu-item" href="/workshop">Workshop</a></li>
    <li><a class="menu-item highlight buttonize" href="/blog">Blog</a></li>
    -->
    <li><a class="menu-item highlight buttonize" href="/about">About</a></li>
    <li><a class="menu-item highlight buttonize" href="/support">Support</a></li>
  </ul>
</nav>