<nav>
  <a id="menu-header" class="text-primary hover-accent center-children" href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='img/psyclonic-logo.png') }}" id="header-logo">
    <span id="header-title">Psyclonic Studios</span></a>
  <input type="checkbox" id="menu-btn" />
  <label id="menu-icon" class="hover-accent text-primary center-children" for="menu-btn">&#9776;</label>
  <ul class="menu">
    <li><a class="menu-item text-primary hover-accent center-children" href="{{ url_for('gallery') }}">Gallery</a></li>
    <li><a class="menu-item text-primary hover-accent center-children" href="{{ url_for('about') }}">About</a></li>
    <li><a class="menu-item text-primary hover-accent center-children" href="https://www.redbubble.com/people/psyclonicstudio/shop?artistUserName=psyclonicstudio&iaCode=u-water-bottle" target="_blank"
      onclick="gtag('event', 'click', {
    event_category: 'engagement',
    event_label: 'redbubble',
  });" >Merchandise</a></li>
    <li><a class="menu-item text-primary hover-accent center-children" href="{{ url_for('contact') }}">Contact</a></li>
  </ul>
</nav>