<nav>
  <a class="menu-header highlight buttonize" href="/">Psyclonic Studios</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon highlight" for="menu-btn">&#9776;</label>
  <ul class="menu">
    <li><a class="menu-item highlight" href="/series">Gallery</a></li>
    <!--
    <li><a class="menu-item" href="/garage">Garage</a></li>
    <li><a class="menu-item" href="/workshop">Workshop</a></li>
    -->
    <li><a class="menu-item highlight" href="/blog">Blog</a></li>
    <li><a class="menu-item highlight" href="/about">About</a></li>
  </ul>
</nav>