{% extends 'base.html' %}
{%- block title -%}
{{ series.title }}
{%- endblock -%}
{% block head %}
<meta name="description"
    content="{{ (series.title ~ ' (' ~ series.year ~ ')' ~ ' - ' ~ series.description) | striptags | truncate(160, True) }}">
<link rel="canonical" href="{{ canonical_url }}" />

<meta property="og:url" content="{{ canonical_url }}"/>
<meta property="og:description" content="{{ (series.title ~ ' (' ~ series.year ~ ')' ~ ', ' ~ series.description) | striptags | truncate(160, True) }}"/>
<meta property="og:image" content="{{ ((series.artworks_resolved | first).images | first).full_size.url }}"/>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "name": "Series",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Psyclonic Studios",
            "item": "{{ url_for('home', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Gallery",
            "item": "{{ url_for('gallery', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "{{ series.title }}",
            "item": "{{ url_for('series', id='{{ series.id }}', slug='{{ series.title | slugify }}', _external=True) }}"
        }
      ]
    }
</script>
<script>
    gtag('event', 'view_item_list', {
        send_to: 'AW-691717542',
        items: [
            {% for artwork in series.artworks_resolved %}
            {
                id: '{{ artwork.id }}',
                'google_business_vertical': 'retail'
            },
            {% endfor %}
        ]
    });
</script>
{% endblock %}
{% block body %}
<div class="narrow-page medium-vertical-margins center">
    <h1 class="artwork-title">{{ series.title }} <span class="artwork-year">[{{ series.year }}]</span></h1>
    <div>
        {{ series.description | safe }}
    </div>
</div>
<div class="gallery-horizontal-container medium-vertical-margins">
    <div class="gallery-horizontal wide-page" style="--num-tiles: {{ number_of_tiles }}">
        {% for series_image in series.series_images %}
        <div class="gallery-horizontal-item-container">
            <div class="gallery-horizontal-item">
                <img src="{{ series_image.full_size.url }}"
                    srcset="{% for size, image in series_image.sizes.items() %}{{ image.url }} {{ size }}w,{% endfor %}"
                    alt="{{ series.description }}">
            </div>
        </div>
        {% endfor %}
        {% for artwork in series.artworks_resolved %}
        {% set image = artwork.images | first %}
        <div class="gallery-horizontal-item-container">
            <a href="/artwork/{{ artwork.id }}/{{ artwork.title | slugify }}"
                class="gallery-horizontal-item hover-darken-container">
                <img src="{{ image.full_size.url }}"
                    srcset="{% for size, image in image.sizes.items() %}{{ image.url }} {{ size }}w,{% endfor %}"
                    alt="{{ artwork.mediaDescription }}" class="hover-darken">
                <span class="blur-text-overlay">{{ artwork.title }}<br/><span class="small-font">[{% if artwork.price and artwork.inventory > 0 %}{{ artwork.price | format_money }}{% endif %}{% if artwork.price and artwork.inventory == 0 %}<span style="text-decoration: line-through;">{{ artwork.price | format_money }}</span> Sold out{% endif %}{% if not artwork.price %}Not for sale{% endif %}]</span></span>
            </a>
        </div>
        {% endfor %}
    </div>
    <span class="scroll-button previous"></span>
    <span class="scroll-button next"></span>
</div>
    {% if series.additionalInformation %}
    <p class="medium-vertical-margins small-font center narrow-page">
        {{ series.additionalInformation }}
    </p>
    {% endif %}
<div class="narrow-page center medium-vertical-margins">
    <button id="enquire-button" type="button"
        class="hover-accent text-primary border-accent background-white button-wide">Ask the artist</button>
</div>
<div id="enquire-form" class="narrow-page center medium-vertical-margins" hidden>
    <form class="bordered" action="/series-enquire/{{ series.id }}" method="POST">
        <div class="medium-vertical-margins">
            <h4 class="small-vertical-margins">Contact information</h4>
            <input id="enquire-name" class="user-input border-accent small-vertical-margins" type="text" name="name"
                placeholder="Name" required autocomplete="name">
            <input id="enquire-email" class="user-input border-accent" type="email" name="email" placeholder="Email"
                required autocomplete="email">
        </div>
        <div class="medium-vertical-margins">
            <textarea class="user-input user-message border-accent" type="textarea" name="message"
                placeholder="Your message" required></textarea>
        </div>
        <div class="medium-vertical-margins">
            <button id="enquire-reset" type="reset"
                class="hover-accent text-primary background-white border-accent button-wide">Cancel</button>
            <button type="submit"
                class="hover-accent text-primary background-white border-accent button-wide">Submit</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='enquire_form.js') }}"></script>
{% endblock %}