{% extends 'base.html' %}
{% block title %}
Gallery
{% endblock %}
{% block body %}
<div class="indent-page">
    <a href="/artwork">Artworks</a> | Series
</div>
<div class="gallery-grid-container full-page">
    {% for series in series_collection %}
    <a href="/series/{{ series.id }}" class="gallery-grid-item hover-container">
        <img class="hover-image" src="{{ series.thumbnail_image }}" alt="{{ series.description }}">
        <span class="hover-text">{{ series.title }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}