{% extends 'base.html' %}
{% block title %}
Gallery
{% endblock %}
{% block head %}
<meta name="description" content="Series by Psyclonic Studios (Anne-Maree Hunter)">
{% endblock %}
{% block body %}
<div class="narrow-page">
    <h1>Gallery</h1>
    <select class="select-css">
        <option>Artworks</option>
        <option selected>Series</option>
    </select>
</div>
<div class="gallery-grid-container wide-page">
    {% for series in series_collection %}
    <a href="/series/{{ series.title | slugify }}/{{ series.id }}" class="gallery-grid-item hover-container">
        <img class="hover-image" src="{{ series.thumbnail_image }}" alt="{{ series.description }}">
        <span class="hover-text">{{ series.title }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}