{% extends 'base.html' %}
{%- block title -%}
Subscribe
{%- endblock -%}
{% block head %}
<meta name="description" content="{{ subscribe | striptags | truncate(160, True) }}">

<meta property="og:url" content="{{ url_for('subscribe', _external=True) }}" />
<meta property="og:description" content="{{ subscribe | striptags | truncate(160, True) }}" />
<meta property="og:image"
    content="https://storage.googleapis.com/psyclonic-studios-website.appspot.com/flamelink/media/sized/900_9999_99/4kntu8IfehmfIF22sZ3Y_P1141468%20rainbow%20gradient.jpg" />

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "name": "Subscribe",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Psyclonic Studios",
            "item": "{{ url_for('home', _external=True) }}"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Subscribe",
            "item": "{{ url_for('subscribe', _external=True) }}"
        }
      ]
    }
</script>
{% endblock %}
{% block body %}
<div class="narrow-page medium-vertical-margins center">
    <h1>Subscribe</h1>
    <p class="medium-vertical-margins">
        Follow me on <a href="https://www.youtube.com/channel/UC9CrAXYWpm8R86MtoPY1z5w" onclick="gtag('event', 'click', { 
                event_category: 'engagement', event_label: 'youtube' });" target="_blank">YouTube</a>, <a href="https://www.instagram.com/_u/psyclonicstudios/" onclick="gtag('event', 'click', { 
                event_category: 'engagement', event_label: 'instagram' });" target="_blank">Instagram</a> and <a
            onclick="gtag('event', 'click', {
    event_category: 'engagement',
    event_label: 'facebook',
  });" href="https://www.facebook.com/psyclonicstudios/" target="_blank">Facebook</a> for regular updates on my work!
    </p>
    {{ subscribe | safe }}
    <form action="/subscribe" method="POST">

        <div>
            <input id="subscribe" class="user-input border-accent email-input small-vertical-margins" type="email"
                name="email" placeholder="Email" required autocomplete="email">
            <button type="submit"
                class="hover-accent text-primary border-accent background-white button-wide small-vertical-margins">Subscribe</button>
        </div>
    </form>
</div>
{% endblock %}