{% extends 'base.html' %}
{% block title %}
Subscribe
{% endblock %}
{% block head %}
<meta name="description" content="{{ subscribe | striptags | truncate(160, True) }}">
{% endblock %}
{% block body %}
<div class="narrow-page medium-vertical-margins center">
    <h1>Subscribe</h1>
    {{ subscribe | safe }}
    <form action="/subscribe" method="POST">
        <div>
            <input id="subscribe" class="user-input border-accent email-input small-vertical-margins" type="email" name="email" placeholder="Email" required autocomplete="email">
            <button type="submit" class="hover-accent text-primary border-accent background-white button-wide small-vertical-margins">Subscribe</button>
        </div>
    </form>
</div>
{% endblock %}