{% extends 'base.html' %}
{% block title %}
Support
{% endblock %}
{% block body %}
<div class="indent-page support-page">
    {{ support_text | safe }}
</div>
<div class="gallery-horizontal-container">
    <div class="gallery-horizontal full-page" style="--num-tiles: {{ number_of_products }}">
        {% for product in support_products %}
        <div class="gallery-horizontal-item">
            <img src="{{ product.artwork_image_url }}" alt="{{ product.title }}" class="gallery-horizontal-image">
        </div>
        {% endfor %}
    </div>
    <span class="scroll-button previous"></span>
    <span class="scroll-button next"></span>
</div>
{% endblock %}